// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
background-color: #dcf0d8;

}


a {
    color: #185c18;
    text-decoration: none;
    margin: 10px;
}
